<%= labelled_form_for @issue, :html => {:id => 'issue-form', :multipart => true} do |f| %>
    <%= error_messages_for 'issue', 'time_entry' %>
    <%= render :partial => 'conflict' if @conflict %>
    <div class="box">
        <fieldset id="add_notes"><legend><%= l(:field_notes) %></legend>
            <%= f.text_area :notes, :cols => 60, :rows => 10, :class => 'wiki-edit', :id => 'issue_note_custom',
                    :data => {
                        :auto_complete => true
                    },
                    :no_label => true 
            %>
            <%= wikitoolbar_for 'issue_note_custom', preview_issue_path(:project_id => @project, :issue_id => @issue) %>

            <% if @issue.safe_attribute? 'private_notes' %>
                <%= f.check_box :private_notes, :no_label => true %> 
                <label for="issue_private_notes"><%= l(:field_private_notes) %></label>
            <% end %>

            <%= call_hook(:view_issues_edit_notes_bottom, { :issue => @issue, :notes => @notes, :form => f }) %>
        </fieldset>
    </div>
    <%= submit_tag l(:button_submit) %>
    <%= link_to(
          l(:button_cancel), issue_path(id: @issue.id),
          :onclick => params[:action] == 'show' ? "$('#update_note').hide(); return false;" : ''
        ) %>
<% end %>
